digit100stuff/Bartley_relax2/relax3.rnc

start = root
root = element root{mixed{title , intro, inglist , steplist , Results}}

title = element title{text}
intro = element intro{mixed{recipebook* & chef* & date* & Owner* & origsteps*}}
origsteps = element origsteps{mixed{step+}}
recipebook = element recipebook{text}
chef = element chef{text, type}
date = element date{text}
type = attribute type{text}
Owner = element Owner{text, type}

inglist = element inglist{ing*}
ing = element ing{n , unit , amount , name , type? ,sticks?}

n = attribute n{xsd:integer}
unit = attribute unit {text}
amount = attribute amount{xsd:decimal}
name = attribute name{text}
sticks = attribute sticks{xsd:int}

steplist = element steplist{mixed{ingref* | step*}}

ingref = element ingref {ref,text}
ref = attribute ref{xsd:int}
step = element step{n, mixed{ingref*}}

Results = element Results{text}